/* CSS declarations go here */
.myNav{
    background-color:#403e3e;
    border-radius:0 0 4px 4px;
    margin-bottom: 8px;
}
.leftBorderContent{
    background-color: #403e3e;
    border-radius: 4px 0px 0px 4px;
}
.rightBorderContent{
    background-color: #403e3e;
    border-radius: 0 4px 4px 0px;
}
.myPanelHeading{
    background-color:#403e3e !important;
    color:#9d9c9b !important;
}
