<template name="main_layout">
    {{>Template.dynamic template=home}}
</template>
<template name="FirstLayout">
    <div class="container-fluid fill" style="padding:0px;">
    {{> Template.dynamic template=top}}
    {{> Template.dynamic template=main}}
    {{> Template.dynamic template=footer}}
    </div>
</template>
<template name="ExaminationLayout">
    <div class="container-fluid fill" style="padding:0px;">
    {{> Template.dynamic template=main}}
    </div>
</template>


<template name="login">
    <div class="container-fluid fill">
        <div class="row login box-shadow" style="background-color:white;">
            <div class="col-xs-12">
                {{> atForm}}
            </div>
        </div>
    </div>
</template>