<template name="teacherFooter">
    <div class="row">
        <div class="col-sm-12">
            <footer class="footer nav-custom2" style="position:fixed;bottom:0px; width:100%; text-align:center">
                <p style="padding-left:10%;padding-right:10%; padding-top:5px; font-size:10px;">Todos los derechos 2017 SENA - Políticas de privacidad y condiciones uso Portal Web SENA - Política de Tratamiento para Protección de Datos Personales - Política de seguridad y privacidad de la información</p>
            </footer>
        </div>
    </div>
</template>