

<template name="dashboard">
    <div class="row">
        <div class="col-sm-5">
            <div class="row" style="margin-left:5px;">
                <div class="col-sm-12 box-shadow" style="background-color:white; height:300px; border-radius:5px; overflow:scroll;">
                    <ul class="list-group" style="margin-top:10px;">
                        <li class="list-group-item">Peter <span class="glyphicon glyphicon-edit pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">progress</span></li>
                        <li class="list-group-item">Jhon <span class="glyphicon glyphicon-edit pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">progress</span></li>
                        <li class="list-group-item">David <span class="glyphicon glyphicon-edit pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">progress</span></li>
                        <li class="list-group-item">Charben <span class="glyphicon glyphicon-edit pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">progress</span></li>
                        <li class="list-group-item">Alba <span class="glyphicon glyphicon-check pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">done</span></li>
                        <li class="list-group-item">Christian<span class="glyphicon glyphicon-check pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">done</span></li>
                        <li class="list-group-item">Felix <span class="glyphicon glyphicon-check pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">done</span></li>
                        <li class="list-group-item">Patrick <span class="glyphicon glyphicon-check pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">done</span></li>
                        <li class="list-group-item">Violeta <span class="glyphicon glyphicon-check pull-right"></span>
                            <span class="pull-right" style="margin-right:5px; margin-top:3px;font-size:8px;">done</span></li>
                    </ul>
                </div>
                <div class="col-sm-12 box-shadow" style="background-color:white; height:300px; margin-top:5px; border-radius:5px;">
                    <canvas id="myLineChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12 box-shadow" style="background-color:white; height:150px; border-radius:5px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td colspan="3" style="text-align:center; font-size: 1.2em;">Total</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;font-size: .8em; font-weight: 400; color: #8c8383;">
                                    Invited
                                </td>
                                <td style="text-align:center;font-size: .8em; font-weight: 400; color: #8c8383;">
                                    Not started
                                </td>
                                <td style="text-align:center;font-size: .8em; font-weight: 400; color: #8c8383;">
                                    Finish
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align:center; font-size: 1.5em; color: #009f9a;">100</td>
                            <td style="text-align:center; font-size: 1.5em; color: #009f9a;">56</td>
                            <td style="text-align:center; font-size: 1.5em; color: #009f9a;">44</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 box-shadow" style="background-color:white; height:350px; margin-top:5px; border-radius:5px;">
                    <canvas id="myRadarChart"></canvas>
                </div>
                <div class="col-sm-12 box-shadow" style="background-color:white; height:100px; border-radius:5px;">
                    <p style="font-size: 1.2em; color:#129894; text-align: center;margin-top:20px;">{{todayDate}}</p>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="row" style="margin-right:5px;">
                <div class="col-sm-12 box-shadow" style="background-color:white; height:250px; border-radius:5px;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-sm-12 box-shadow" style="background-color:white; height:350px; margin-top:5px; border-radius:5px;  overflow:scroll;">
                    <div style="margin-top:10px;">
                        <p>Violeta just finished the easy test.</p>
                        <p>Patrick just finished the hard test.</p>
                        <p>Charben just finished the easy test.</p>
                        <p>Peter just finished the intermediate test.</p>
                        <p>Felix started the easy test.</p>
                        <p>Peter just finished the video test.</p>
                        <p>Christian started the test.</p>
                        <p>Alba just finished the test.</p>
                        <p>Charben started the test.</p>
                        <p>David just finished the test.</p>
                        <p>Charben started the test.</p>
                        <p>Peter just finished the test.</p>
                        <p>Felix started the test.</p>
                        <p>Peter just finished the test.</p>
                        <p>Christian started the test.</p>
                        <p>Peter just finished the test.</p>
                        <p>Alba started the test.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</template>
