<template name="testList">
    <div class="row" style="background-color:white;">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th style="text-align: center;">Total Student</th>
                    <th style="text-align: center;">Total Student Taken</th>
                    <th style="text-align: center;">View</th>
                    <th style="text-align: center;">Invite</th>
                </tr>
                </thead>
                <tbody>
                {{#each TestList}}
                <tr>
                    <td>{{Title}}</td>
                    <td>{{DateCreated}}</td>
                    <td>{{DateUpdated}}</td>
                    <td style="text-align: center;">{{TotalStudent}}</td>
                    <td style="text-align: center;">{{TotalStudentTaken}}</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open" style="cursor:pointer"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope" style="cursor:pointer"></span></td>
                </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    {{>modalSubmit}}
</template>