<template name="testList">
    <div class="row" style="background-color:white;">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th style="text-align: center;">Total Student</th>
                    <th style="text-align: center;">Total Student Taken</th>
                    <th style="text-align: center;">View</th>
                    <th style="text-align: center;">Invite</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>English</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>02/09/2016 10:30 am</td>
                    <td>02/10/2016 11:45 am</td>
                    <td style="text-align: center;">25</td>
                    <td style="text-align: center;">15</td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td style="text-align: center;"><span class="glyphicon glyphicon-envelope"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>