<template name="teacherNav">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar nav-custom" style="margin-bottom:0px;border-radius:0">
                <a class="navbar-brand" href="#">
                    <div class="slant"></div>
                        <img src="/logoSena.ico" width="80" style="position:absolute; margin-top:-5px;z-index:100; margin-left:50px;"/>

                </a>
            	<ul class="nav navbar-nav pull-right" style="margin-right:50px;">

                    <li id="profile"><a href="#"><span class="glyphicon glyphicon-user" ></span> Admin</a></li>
                    <li id="logout"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            	</ul>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar nav-custom2 myNav"  id="menu">

            	<ul class="nav navbar-nav pull-right" style="margin-right:100px;">
                    <li class="active" id="dashboard">
                        <a href="#">Dashboard</a>
                    </li>
                    <li id="testList">
                        <a href="#" >Test List</a>
                    </li>
                    <li id="createTest">
                        <a href="#">Create Test</a>
                    </li>
                    <li id="studentRecord">
                        <a href="#">Student Record</a>
                    </li>
            	</ul>
            </nav>
        </div>
    </div>
</template>