<template name="teacherNav">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-inverse" style="margin-bottom:0px;border-radius:0">
            	<a class="navbar-brand" href="#">TEST</a>
            	<ul class="nav navbar-nav pull-right" style="margin-right:50px;">

                    <li id="profile"><a href="#"><span class="glyphicon glyphicon-user" ></span> Admin</a></li>
                    <li id="logout"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

            	</ul>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-inverse myNav"  id="menu">

            	<ul class="nav navbar-nav pull-right" style="margin-right:100px;">
                    <li class="active" id="dashboard">
                        <a href="#">Dashboard</a>
                    </li>
                    <li id="testList">
                        <a href="#" >Test List</a>
                    </li>
                    <li id="createTest">
                        <a href="#">Create Test</a>
                    </li>
                    <li id="studentRecord">
                        <a href="#">Student Record</a>
                    </li>
            	</ul>
            </nav>
        </div>
    </div>
</template>